<html> 
	<head> 
		<title>Aktywacja w serwisie szkolea.pl</title> 
	</head>
	<body>
		<p>
Witaj,<br/>
Ta wiadomość została wysłana, ponieważ na ten e-mail została dokonana rejestracja konta XXXX w serwisie szkolea.pl (jeżeli konto nie było zakładane - proszę zignorować tę wiadomość, a na ten e-mail nie powinny być wysyłane żadne niepożądane wiadomości).<br/><br/>
Aby aktywować konto wystarczy <a href="{%link%}">kliknąć tutaj</a>!<br/>
Można także skorzystać z tego linka aktywacyjnego:<br/>
<a href="{%link%}">{%link%}</a><br/><br/>
Przypominamy, że konto musi zostać aktywowane w ciągu 7 dni od daty rejestracji.<br/>
Nieaktywowanie konta spowoduje usunięcie Twoich danych z systemu.<br/><br/>
Prosimy nie odpowiadać na tego maila.<br/><br/>
Pozdrawiamy,<br/>
Zespół szkolea.pl
		</p>
	</body>
</html>