    <div id="main">
        <div class="lineAccount"></div><!-- lineAccount -->
        <div class="myAccount">
            <div class="menuAccount">
                <div class="accountButtonB">USŁUGI</div><!-- accountButtonB -->
                <div class="accountButtonW">ZLECENIA</div><!-- accountButtonW -->
                <div class="accountButtonW">MOJE DANE</div><!-- accountButtonW -->
                <div class="accountButtonW">FAKTURY I PAKIETY</div><!-- accountButtonW -->
                <div class="buttonInfo"><a href="#">wyloguj</a></div><!-- buttonInfo -->
                <div class="buttonInfo">Witaj XXX</div><!-- buttonInfo -->
            </div><!-- menuAccount -->
            <div class="accountStrip"></div><!-- accountStrip -->
        </div><!-- myAccount -->
        <div class="menuAccountD">
            <div class="accountButtonD">obserwowane usługi</div><!-- accountButtonD -->
            <div class="accountButtonDb">obserwowane zlecenia</div><!-- accountButtonDb -->
        </div><!-- menuAccountD -->
        <div class="accountMain">
            <div class="tables">
                <br/>
                <table cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td>kategorie</td>
                            <td>
                            <select name="cat" class="select">
                            <option></option>
                            {%cats%}
                            </select>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>obszary</td>
                            <td>
                            <select name="scat" id="scat" class="select">
                            <option></option>
                            {%subcats%}
                            </select>
                            </td>
                            <td><button id="addscat">Dodaj</button></td>
                            <td><button id="editscat">Edytuj</button></td>
                            <td><button id="delscat">Kasuj</button></td>
                        </tr>
                        <tr style="display: none">
                            <td>obszary</td>
                            <td>
                                <form action="admin.php" method="post">
                                <input type="text" size="30" class="field" id="inpscat" />
                            </td>
                            <td>
                                <button type="submit" name="id" value="" id="butscat">zapisz</button>
                                </form>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>tematyki</td>
                            <td>
                            <select name="sscat" id="sscat" class="select">
                            <option></option>
                            {%subsubcats%}
                            </select>
                            </td>
                            <td><button id="addsscat">Dodaj</button></td>
                            <td><button id="editsscat">Edytuj</button></td>
                            <td><button id="delsscat">Kasuj</button></td>
                        </tr>
                        <tr style="display: none">
                            <td>tematyki</td>
                            <td>
                                <form action="admin.php" method="post">
                                <input type="text" size="30" class="field" id="inpsscat" />
                            </td>
                            <td>
                                <button type="submit" name="id" value="" id="butsscat">zapisz</button>
                                </form>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>moduły</td>
                            <td>
                            <select name="moduls" id="moduls" class="select">
                            <option></option>
                            {%moduls%}
                            </select>
                            </td>
                            <td><button id="addmoduls">Dodaj</button></td>
                            <td><button id="editmoduls">Edytuj</button></td>
                            <td><button id="delmoduls">Kasuj</button></td>
                        </tr>
                        <tr style="display: none">
                            <td>moduły</td>
                            <td>
                                <form action="admin.php" method="post">
                                <input type="text" size="30" class="field" id="inpmoduls" />
                            </td>
                            <td>
                                <button type="submit" name="id" value="" id="butmoduls">zapisz</button>
                                </form>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- viewCategory -->
        </div><!-- accountMain -->
    </div><!-- main -->