<div id="main">
    <div class="lineAccount"></div><!-- lineAccount -->
    <div class="myAccount">
        <div class="menuAccount">
            <div class="accountButtonW"><a href="?w=comms">ZLECENIA</a></div><!-- accountButtonW -->
            <div class="accountButtonW"><a href="?w=kategorie">KATEGORIE</a></div><!-- accountButtonW -->
            <div class="accountButtonW"><a href="?w=uzytkownicy">UŻYTKOWNICY</a></div><!-- accountButtonW -->
            <div class="accountButtonB"><a href="?w=statystyki">STATYSTYKI</a></div><!-- accountButtonW -->
            <div class="accountButtonW"><a href="?w=inne">INNE</a></div><!-- accountButtonW -->
            <div class="buttonInfo">Witaj, {%name%} | <a href="logout.php">wyloguj</a></div><!-- buttonInfo -->
        </div><!-- menuAccount -->
        <div class="accountStrip"></div><!-- accountStrip -->
    </div><!-- myAccount -->
    <div class="menuAccountD">
        <div class="accountButtonDb"><a href="?w=statystyki&a=oferty">oferty</a></div><!-- accountButtonD -->
        <div class="accountButtonD"><a href="?w=statystyki&a=zlecenia">zlecenia</a></div><!-- accountButtonD -->
        <div class="accountButtonDb"><a href="?w=statystyki&a=uslugi">usługi</a></div><!-- accountButtonD -->
        <div class="accountButtonDb"><a href="?w=statystyki&a=pakiety">pakiety</a></div><!-- accountButtonD -->
    </div><!-- menuAccountD -->
    <div class="accountMain">
        <div class="accountTitle">
            Statystyki zleceń
        </div><!-- accountTitle -->
        <br clear="all" />
        <div class="accountLine"></div><!-- accountLine -->
        {%here%}
    </div><!-- accountMain -->
</div><!-- main -->