<div id="main">
    <div class="lineAccount"></div><!-- lineAccount -->
    <div class="myAccount">
        <div class="menuAccount">
            <div class="accountButtonW"><a href="?w=comms">ZLECENIA</a></div><!-- accountButtonW -->
            <div class="accountButtonW"><a href="?w=kategorie">KATEGORIE</a></div><!-- accountButtonW -->
            <div class="accountButtonW"><a href="?w=uzytkownicy">UŻYTKOWNICY</a></div><!-- accountButtonW -->
            <div class="buttonInfo">Witaj, {%name%} | <a href="logout.php">wyloguj</a></div><!-- buttonInfo -->
        </div><!-- menuAccount -->
        <div class="accountStrip"></div><!-- accountStrip -->
    </div><!-- myAccount -->
    <div class="menuAccountD">
    </div><!-- menuAccountD -->
    <div class="accountMain">
        <div class="accountTitle">
        Panel administratora.
        </div><!-- accountTitle -->
        <br clear="all" />
        <div class="accountLine"></div><!-- accountLine -->
        {%here%}
    </div><!-- accountMain -->
</div><!-- main -->