<b><i>{%nazwa%}</i></b> ({%kind%}) [ <a href="fun_adm.php?what=user&action=ban&id={%id_user%}">banuj</a> ]<br/><br/>

ID: {%id_user%} <br/>
typ: {%kind%}<br/>
e-mail: {%email%}<br/>
data rejestracji: {%data_rej%}<br/>
status: {%status%}<br/><br/>
<b>ADRES PRYWATNY:</b><br/>
imię: {%os_name%}<br/>
nazwisko: {%os_surname%}<br/>
ulica: {%os_street%}<br/>
numer: {%os_house_number%}<br/>
kod pocztowy: {%os_postcode%}<br/>
miasto: {%os_city%}<br/>
województwo: {%os_woj%}<br/>
telefon: {%os_phone%}<br/><br/>
<b>ADRES FIRMOWY:</b><br/>
firma: {%f_company%}<br/>
imię: {%f_name%}<br/>
nazwisko: {%f_surname%}<br/>
stanowisko: {%f_position%}<br/>
ulica: {%f_street%}<br/>
numer: {%f_house_number%}<br/>
kod pocztowy: {%f_postcode%}<br/>
miasto: {%f_city%}<br/>
województwo: {%f_woj%}<br/>
telefon: {%f_phone%}<br/>
REGON: {%f_regon%}<br/>
NIP: {%f_nip%}<br/>
KRS: {%f_krs%}<br/><br/>




