<table border=1>
    <tbody>
        <tr>
            <td>FAKTURY VAT</td>
            <td>FAKTURY PROFORMA</td>
        </tr>
    </tbody>
</table>

<table border=1>
    <tbody>

        <tr>
            <td>numer</td>
            <td>data</td>
            <td>użytkownik</td>
            <td>pobierz</td>
            <td>numer</td>
            <td>data</td>
            <td>użytkownik</td>
            <td>pobierz</td>
            <td>nazwa</td>
        </tr>
        {%row%}
    </tbody>
</table>