				<br /><br />
                <div class="tables" style="width:900px; float:none; margin:0 auto;">
                    <h3>Cennik Pakietów</h3>
                    <br/>
                    <table cellpadding="0" cellspacing="0">
                        <thead>
                        <tr>
                        <th></th>                                                  
                        <th>podstawowy</th>
                        <th>żelazny</th>
                        <th>srebrny</th>
                        <th>złoty</th>
                        <th>platynowy</th>
                        </tr>
                        </thead>
                        <tbody>                     
                        <tr>
                        <th>cena netto [zł]</th>
                        <td>gratis</td>
                        <td>9</td>
                        <td>45</td>
                        <td>99</td>
                        <td>299</td>
                        </tr>
                        <tr>
                        <th>cena brutto [zł]</th>
                        <td>gratis</td>
                        <td>11,07</td>
                        <td>60,27</td>
                        <td>121,77</td>
                        <td>367,77</td>
                        </tr>
                        <tr>
                        <th>możliwość składania ofert realizacji zlecenia szkolenia [liczba ofert]</th>
                        <td>0</td>
                        <td>1</td>
                        <td>bez limitu</td>
                        <td>bez limitu</td>
                        <td>bez limitu</td>
                        </tr>
                        <tr>
                        <th>wizytówka [liczba znaków]</th>
                        <td>100</td>
                        <td>100</td>
                        <td>500</td>
                        <td>700</td>
                        <td>800</td>
                        </tr>
                        <tr>
                        <th>opcje dodatkowe: www, logo, wyróżnienie w Katalogu Usługodawców</th>
                        <td>nie</td>
                        <td>nie</td>
                        <td>www - link</td>
                        <td>www - link, logo</td>
                        <td>www - link, logo, wyróżnienie (bold, kolor) i pierwsze miejsca</td>
                        </tr>
                        <tr>
                        <th>liczba oferowanych szkoleń (usług) do zamieszczenia w Katalogu Usług</th>
                        <td>0</td>
                        <td>1</td>
                        <td>3</td>
                        <td>6</td>
                        <td>bez ograniczeń</td>
                        </tr>
                        <tr>
                        <th>baner</th>
                        <td>nie</td>
                        <td>nie</td>
                        <td>nie</td>
                        <td>tak</td>
                        <td>tak</td>
                        </tr>
                        <tr>
                        <th>wyróżnienie usługi</th>
                        <td>nie</td>
                        <td>nie</td>
                        <td>nie</td>
                        <td>poziom 1</td>
                        <td>poziom 2</td>
                        </tr>
                        <tr>
                        <th>mailing do bazy klientów portalu</th>
                        <td>nie</td>
                        <td>nie</td>
                        <td>nie</td>
                        <td>nie</td>
                        <td>tak</td>
                        </tr>
                        <tr>
                        <th>czas ważności pakietu</th>
                        <td>bezterminowo</td>
                        <td>1 miesiąc + 1 gratis na początku</td>
                        <td>3 + 1 gratis na początku</td>
                        <td>6 + 1 gratis na początku</td>
                        <td>9 + 1 gratis na początku</td>
                        </tr>                                                
                        </tbody>
                    </table>
                    Opłata za pośrednictwo sprzedaży szkolenia, o której mowa w rozdziale IX p. 8 Regulaminu, wynosi 15% wartości szkolenia. Wartość szkolenia jest obliczana jako iloczyn liczby uczestników zlecanego szkolenia i ceny jednostkowej za osobę. 
                </div><br />