				<br /><br />







                <div class="tables" style="width:900px; float:none; margin:0 auto;">







                    <h3>Cennik Pakietóf</h3>







                    <br/>







                    <table cellpadding="0" cellspacing="0">







                        <thead>







                        <tr>







                        <th></th>                                                  







                        <th>podstawowy</th>







                        <th>profesjonalny</th>







                        <th>srebrny</th>







                        <th>złoty</th>







                        <th>platynowy</th>







                        </tr>







                        </thead>







                        <tbody>                     







                 







                        <th>cena brutto [zł]</th>







                        <td>gratis</td>







                        <td>9</td>







                        <td>49</td>







                        <td>199</td>







                        <td>599</td>







                        </tr>







                        <tr>







                        <th>możliwość składania ofert realizacji zlecenia szkolenia [liczba ofert]</th>







                        <td>0</td>







                        <td>1</td>







                        <td>bez limitu</td>







                        <td>bez limitu</td>







                        <td>bez limitu</td>







                        </tr>







                        <tr>







                        <th>wizytówka [liczba znaków]</th>







                        <td>100</td>







                        <td>100</td>







                        <td>1000</td>







                        <td>1000</td>







                        <td>1000</td>







                        </tr>







                        <tr>







                        <th>opcje dodatkowe: www, logo, wyróżnienie w Katalogu Usługodawców</th>







                        <td>nie</td>







                        <td>nie</td>







                        <td>www - link</td>







                        <td>www - link, logo</td>







                        <td>www - link, logo, wyróżnienie (bold, kolor) i pierwsze miejsca</td>







                        </tr>







                        <tr>







                        <th>liczba oferowanych szkoleń (usług) do zamieszczenia w Katalogu Usług</th>







                        <td>0</td>







                        <td>1</td>







                        <td>5</td>







                        <td>10</td>







                        <td>bez ograniczeń</td>







                        </tr>







                        <tr>







                        <th>baner</th>







                        <td>nie</td>







                        <td>nie</td>







                        <td>nie</td>







                        <td>tak</td>







                        <td>tak</td>







                        </tr>







                        <tr>







                        <th>wyróżnienie usługi</th>







                        <td>nie</td>







                        <td>nie</td>







                        <td>nie</td>







                        <td>poziom 1</td>







                        <td>poziom 2</td>







                        </tr>







                        <tr>







                        <th>mailing do bazy klientów portalu</th>







                        <td>nie</td>







                        <td>nie</td>







                        <td>nie</td>







                        <td>nie</td>







                        <td>tak</td>







                        </tr>







                        <tr>







                        <th>czas ważności pakietu</th>







                        <td>bezterminowo</td>







                        <td>1 miesiąc + promocja 1 miesiąc gratis </td>







                        <td>3 miesiące + promocja 1 miesiąc gratis </td>







                        <td>6 miesięcy  + promocja 1 miesiąc gratis </td>







                        <td>9 miesięcy + promocja 1 miesiąc gratis </td>







                        </tr>                                                







                        </tbody>







                    </table>





					<h3>Opłata za pośrednictwo sprzedaży szkolenia</h3>

                    Opłata za pośrednictwo sprzedaży szkolenia, o której mowa w rozdziale IX p. 8 Regulaminu, wynosi 15% wartości szkolenia. Wartość szkolenia jest obliczana jako iloczyn liczby uczestników zlecanego szkolenia i ceny jednostkowej za osobę. 

                    

                    

                    <h3>Cennik reklam</h3>







 <table cellpadding="0" cellspacing="0" style="width:400px;">

                        <thead>







                        <tr>



                        <th>Forma reklamy</th>                                                  







                        <th>Cena</th>









                        </tr>





<tr>







                        <th>Baner na górze strony 728 x 90 px</th>







                        <td>300 zł netto/miesiąc</td>





















                        </tr>



<tr>







                        <th>Baner boczny 120 x 600 px</th>







                        <td>200 zł netto/miesiąc</td>

















                        </tr>



                        </thead>







                        <tbody>                     						

</table>



<h3>Wielkość banerów</h3>



<img class="banner" src="img/b2.jpg">

<img class="banner" src="img/b1.jpg">



<br />



                </div><br />