                            <span class="account"><a href="register.php">Załóż konto</a> &nbsp; | &nbsp; <a href="remind.php">Przypomnij hasło</a></span>
                            <form action="log.php" method="post" name="logForm">
                                <input type="hidden" name="logging" value="1" />
                                <button class="loguj" id="log_submit" type="submit" tabindex="3"></button>
                                <input name="pass" type="password" class="input3" tabindex="2" />
                                <input name="email" class="input3" tabindex="1" />
                            </form>