                        <div id="main_menu" class="{%wht%}">
                            <div class="cat-c">
                                <div class="cat-l {%commsStyle%}">
                                    <a href="index.php?what=comms">ZLECENIA</a>
                                </div><!-- cat-l -->
                                <div class="cat-i"></div><!-- cat-i -->
                                <div class="cat-r {%servsStyle%}">
                                    <a href="index.php?what=servs">USŁUGI</a>
                                </div><!-- cat-r -->
                                <br clear="all" />
                            </div><!-- cat-c -->
                            <div class="menu-lineT">
                                <div class="menu-line1"></div><!-- menu-line1 -->
                                <div class="menu-line2"></div><!-- menu-line1 -->
                                <div class="menu-line3"></div><!-- menu-line1 -->
                            </div><!-- menu-line1 -->
                            <div class="menu-line"></div><!-- menu-line -->
                            <table width="189" border="0">
                                {%list%}
                            </table>
                        </div><!-- main_menu -->