            {%search%}
            <div id="main_line"></div><!-- main_line -->
            <div id="main">
                <div id="main_top">
                    <div id="main_links">
                        <div id="main_links_in_l">
                            <div class="links_in">
                                KATEGORIE
                            </div><!-- links_in -->
                        </div><!-- main_links_in_l -->
                        <div id="main_links_in_r">
                            <span class="links_in_r">WYNIKI WYSZUKIWANIA:</span><!-- links_in -->
                        </div><!-- main_links_in_r -->
                    </div><!-- main_links -->
                    <div id="main_container">
                        {%left_menu%}
                        <div id="main_results">
                            {%results%}
                        </div><!-- main_results -->
                    </div><!-- main_container -->
                </div><!-- main_top -->
              <a href="http://szkolea.pl/contact.php" title="twoje miejsce na reklamę !" target="_blank" style="margin:0 auto; float:none;" ><img src="img/banner2.png" class="banner"  /></a>
            </div><!-- main -->