    <div id="main_line"></div><!-- main_line -->
        <div id="main">

			<div class="jtd">
            	<div class="jtd-title">
                	<div class="jtd-title-l">
                    </div><!--  jtd-title-l -->
                	<div class="jtd-title-c">
                    </div><!--  jtd-title-c -->
                	<div class="jtd-title-r">
                    </div><!--  jtd-title-r -->
                </div><!--  jtd-title -->
                	<div class="jtd-level1">
                    <div class="jtd-klient1"></div><!--  jtd-klient1 -->
                    <div class="jtd-klient2">
                    	<div class="jtd-klient2-a"></div><!--  jtd-klient2-a -->
                    	<div class="jtd-klient2-b">
                        <span class="box-t"><a href="#" title="Klient">Klient</a></span>
                        </div><!--  jtd-klient2-b -->
                    	<div class="jtd-klient2-c"></div><!--  jtd-klient2-c -->
                    </div><!--  jtd-klient2 -->
                    <div class="jtd-klient3">
                    </div><!--  jtd-klient3 -->
                    <div class="jtd-klient4">
                    <span class="krok marg1">&nbsp;&nbsp;&nbsp;KROK 1<img src="img/zz.png" alt="?" class="zz"  /></span>
                    <span class="opis marg1"><a href="#klient-szukaj" id="link-klient-szukaj">Szukaj</a></span>
                    <span class="krok marg2">&nbsp;&nbsp;&nbsp;KROK 2<img src="img/zz.png" alt="?" class="zz"  /></span>
                    <span class="opis marg3"><a href="#klient-znalazles" id="link-klient-znalazles">Znalazłeś, <br />dopisz się</a></span>
                    <span class="krok marg4">&nbsp;&nbsp;&nbsp;KROK 3<img src="img/zz.png" alt="?" class="zz"  /></span>
                    <span class="opis marg5"><a href="#klient-nie-znalazles" id="link-klient-nie-znalazles">Nie znalazłeś,<br />dodaj zlecenie</a></span>
                    </div><!--  jtd-klient4 -->
                    <div class="jtd-klient5">
                    </div><!--  jtd-klient5 -->
                    <div class="jtd-klient6">
                    	<div class="jtd-klient6a"></div><!--  jtd-klient6a -->
                    	<div class="jtd-klient6b">
                        <span class="box-t"><a href="cat.php?z" title="Katalog zleceń">Katalog zleceń</a></span>
                        </div><!--  jtd-klient6b -->
                    	<div class="jtd-klient6c"></div><!--  jtd-klient6c -->
                    </div><!--  jtd-klient6 -->
                    <div class="jtd-klient7">
                    </div><!--  jtd-klient7 -->
                    <div class="jtd-klient8">
                    	<span class="krok marg10">&nbsp;&nbsp;&nbsp;KROK 1<img src="img/zz.png" alt="?" class="zz"  /></span>
                    	<span class="opis marg11"><a href="#uslugodawca-szukaj">Szukaj<br />zlecenia</a></span>
                       	<span class="krok marg12">&nbsp;&nbsp;&nbsp;KROK 2<img src="img/zz.png" alt="?" class="zz"  /></span>
                    	<span class="opis marg13"><a href="#uslugodawca-znalazles">Znalazłeś,<br />złóż ofertę</a></span>
                    </div><!--  jtd-klient8 -->
                    <div class="jtd-klient9">
                    </div><!--  jtd-klient9 -->
                    <div class="jtd-klient10">
                    	<div class="jtd-klient10a"></div><!--  jtd-klient10a -->
                    	<div class="jtd-klient10b">
                        <span class="box-t"><a href="cat.php?ud" title="Usługodawca">Usługodawca</a></span>
                        </div><!--  jtd-klient10b -->
                    	<div class="jtd-klient10c"></div><!--  jtd-klient10c -->
                    </div><!--  jtd-klient10 -->
                    <div class="jtd-klient11">
                    </div><!--  jtd-klient11 -->
                    </div><!--  jtd-level1 -->

                    <div class="jtd-level2">
                        <div class="jtd-level2-l">
                            <div class="jtd-uslugodawca-t">
                        <span class="sou"><a href="cat.php?u" title="Usługodawca">SPRAWDŹ OFERTY USŁUGODAWCÓW</a></span>
                            </div><!--  jtd-uslugodawca-t -->
                            <div class="jtd-level2-2">
                            	<div class="jtd-level2-2a"></div><!--  td-level2-2a -->
                                <div class="jtd-level2-2b">
                                <span class="krok marg6">&nbsp;&nbsp;&nbsp;KROK 1<img src="img/zz.png" alt="?" class="zz"  /></span>
                                </div><!--  td-level2-2b -->
                                <div class="jtd-level2-2c"></div><!--  td-level2-2c -->
                            </div><!--  td-level2-2 -->
                            <div class="jtd-level2-3">
                                <div class="jtd-level2-3a">
                                </div><!--  td-level2-3a -->
                                <div class="jtd-level2-3b">
                    			<span class="opis marg7"><a href="#oferta-szukaj" id="link-oferta-szukaj">Szukaj</a></span>
                                <span class="krok marg8">&nbsp;&nbsp;&nbsp;KROK 2<img src="img/zz.png" alt="?" class="zz"  /></span>
                                <span class="opis marg9"><a href="#oferta-znalazles" id="link-oferta-znalazles">Znalazłeś,<br />skontaktuj się<br />z usługodawcą</a></span>
                                </div><!--  td-level2-3b -->
                                <div class="jtd-level2-3c">
                                </div><!--  td-level2-3c -->
                            </div><!--  td-level2-3 -->
                        </div><!--  jtd-level2-l -->

                        <div class="jtd-level2-4">
                                <div class="jtd-level2-4a">
                                </div><!--  td-level2-4a -->
                                <div class="jtd-level2-4b">
		                        <span class="box-t"><a href="cat.php?u" title="Katalog usług">Katalog usług</a></span>
                                </div><!--  td-level2-4b -->
                                <div class="jtd-level2-4c">
                                </div><!--  td-level2-4c -->
                        </div><!--  jtd-level2-4 -->

                    <div class="jtd-level2-5">
                    </div><!--  jtd-level2-5 -->

                    <div class="jtd-level2-6">
                        <span class="krok marg14">&nbsp;&nbsp;&nbsp;KROK 3<img src="img/zz.png" alt="?" class="zz"  /></span>
                        <span class="opis marg15"><a href="#uslugodawca-nie-znalazles">Nie znalazłeś,<br />dodaj szkolenie</a></span>
                        <span class="krok marg16"> <img src="img/zz.png" alt="?" class="zz"  /></span>
                        <span class="opis marg17"><a href="#uslugodawca-promuj">Promuj,<br />szkolenie</a></span>
                    </div><!--  jtd-level2-6 -->

                    <div class="jtd-level2-7">
                    </div><!--  jtd-level2-7 -->

                    </div><!--  jtd-level2 -->

            </div><!-- jtd -->

        </div><!-- main -->
        <br style="clear: both"/>
        <div id="klient-szukaj">
KROK 1: SZUKAJ SZKOLENIA
W pierwszym kroku po zalogowaniu, korzystając z wyszukiwarki z zaznaczoną opcją ZLECENIA masz możliwość odnaleźć i dopisać siebie i inne zainteresowane osoby, do zlecenia na szkolenie, które zostało złożone przez osobę o podobnych potrzebach szkoleniowych. 
Uwaga: Podobne możliwości daje wpisanie kluczowego słowa (np. tematu szkolenia) w polu: SŁOWA W TREŚCI OGŁOSZENIA w wyszukiwarce. Jest to wyszukiwanie mniej szczegółowe, ale szybsze.
Aby wyszukać interesujące Cię zlecenie do którego możesz dopisać zainteresowane osoby należy:
1. W wyszukiwarce na stronie głównej w polach KATEGORIA, OBSZAR, TEMATYKA… wybierz z list wyboru i zaznacz kryteria szkolenia zgodne z Twoimi potrzebami, lub wpisz słowo kluczowe w pole wyszukiwarki: SŁOWA W TREŚCI OGŁOSZENIA i naciśnij klawisz wyszukiwarki SZUKAJ. 
Uwaga: Jeśli po wyszukaniu szczegółowym nie osiągnąłeś satysfakcjonującego Cię wyniku spróbuj jeszcze raz podając mniej kryteriów lub korzystając z pola SŁOWA W TREŚCI OGŁOSZENIA. 
2. Po wyświetleniu się wyniku wyszukiwania sprawdź go pod kątem swoich potrzeb. Wybierz najciekawszą propozycję. Przeczytaj program.
        </div>
        <div id="klient-znalazles">
KROK 2: ZNALAZŁEŚ, DOPISZ SIĘ
3. Po dokonaniu pozytywnego wyboru wpisz siebie i inne zainteresowane osoby na listę uczestników lub obserwatorów danego zlecenia za pomocą klawisza DOPISZ SIĘ.
4. Jeśli wybierzesz klawisz Obserwuj, obserwacja zlecenia pozwoli Ci podjąć decyzję w późniejszym terminie. O ostatecznym możliwym terminie dopisania się do listy uczestników szkolenia zostaniesz powiadomiony e-mailem. 
5. Po dopisaniu się do listy uczestników szkolenia otrzymasz wiadomość na podany adres e-mail potwierdzającą ten fakt. Zostaniesz poproszony o oczekiwanie na kolejny e-mail potwierdzający realizację zlecenia. Po otrzymaniu tej wiadomości osoba prowadząca szkolenie skontaktuje się z Tobą ustalając sprawy organizacyjne.
6. Po zrealizowanym szkoleniu z Twoim udziałem koniecznie dokonaj jego oceny w zakładce: OCENA SZKOLENIA.
7. Jeśli nie znalazłeś w katalogu zleceń interesującego Cię szkolenia przejdź do:
</div>
        <div id="klient-nie-znalazles">
KROK 3: NIE ZNALAZŁEŚ, DODAJ ZLECENIE
Dodając własne zlecenie szkolenia stwarzasz sobie możliwość zebrania grupy osób z całej Polski o podobnych potrzebach szkoleniowych. Dzięki temu otrzymasz konkurencyjne cenowo i jakościowo oferty od osób i firm, które będą chciały takie szkolenie przeprowadzić. To Ty określasz temat szkolenia, cenę i inne kryteria. Szkoleniowcy składają oferty biorąc pod uwagę wpisane przez Ciebie dane, a Ty wybierasz jedną z nich. 
	Aby dodać zlecenie należy:
1. Kliknąć klawisz DODAJ ZLECENIE
2. Wypełnij rubryki opisujące Twoje potrzeby szkoleniowe: KATEGORIA, OBSZAR,…, MODUŁY wybierając opcje z list wyboru. Podając datę szkolenia warto pamiętać, że im krótszy czas do jego wykonania, tym mniejsza szansa zebrania się grupy koniecznej do zrealizowania szkolenia. Poza tym im większa grupa szkoleniowa tym ciekawsze cenowo oferty mogą się pojawić.
3. Po wypełnieniu rubryk i wciśnięciu klawisza DODAJ ZLECENIE, na podany przez Ciebie adres e-mail nadejdzie wiadomość z numerem Twojego zlecenia. Daje on możliwość obserwacji zainteresowania nim oraz edycji za pomocą usługi MOJE ZLECENIA.
4. Aby zebrać jak najwięcej osób zainteresowanych podobnymi szkoleniami i dzięki temu uzyskać najlepszą cenowo ofertę, powiadom znajomych, oraz wszystkich, którzy wiesz, że mogą poszukiwać podobnych usług, o swoim zleceniu. Skorzystaj z klawisza POWIADOM ZNAJOMYCH.
5. Następnie oczekuj na wiadomość z pierwszą ofertą ze strony szkoleniowców zainteresowanych przeprowadzeniem skomponowanego przez Ciebie szkolenia.
6. W ciągu 48 godzin od pojawienia się pierwszej oferty od szkoleniowca mogą pojawić się kolejne z których Ty powinieneś wybrać jedną, Twoim zdaniem najciekawszą.
7. W dniu, w którym powinieneś ostatecznie dokonać wyboru otrzymasz przypomnienie o tym fakcie za pomocą wiadomości e-mail.
8. W ciągu 3 dni od daty wyboru oferty skontaktuje się z Tobą wybrany przez Ciebie wykonawca szkolenia z informacjami organizacyjnymi.
9. Po zrealizowanym szkoleniu z Twoim udziałem koniecznie dokonaj jego oceny w zakładce: OCENA SZKOLENIA.
</div>
<div id="oferta-szukaj">
KROK1: SZUKAJ
1. Zarejestruj się i zaloguj.
2. W wyszukiwarce na stronie głównej zaznacz opcję USŁUGI oznaczającą, że poszukiwania będziemy prowadzić w KATALOGU USŁUG.
3. Wpisz interesujące Cię kryteria szkolenia: KATEGORIA, OBSZAR, TEMATYKA itp. i użyj klawisza SZUKAJ. Po wyświetleniu się wyniku wyszukiwania sprawdź go pod kątem swoich potrzeb. Wybierz najciekawszą propozycję. Przeczytaj program.
4. Drugim, szybszym, ale mniej dokładnym sposobem poszukiwań jest wpisanie kluczowego słowa charakteryzującego tematykę szkolenia w pole wyszukiwarki: SŁOWA W TREŚCI OGŁOSZENIA i kliknięcie klawisza wyszukiwarki SZUKAJ.
</div>
<div id="oferta-znalazles">
KROK 2: ZNALAZŁEŚ, SKONTAKTUJ SIĘ Z USŁUGODAWCĄ
5. Po wyborze interesującej Cię usługi szkoleniowej skontaktuj się z firmą szkoleniową lub trenerem oferującym usługę. Po kliknięciu klawisza SKONTAKTUJ SIĘ Z USŁUGODAWCĄ wypełnij formularz. 
6. Po wysłaniu formularza oczekuj na kontakt ze strony usługodawcy.
7. Po zrealizowanym szkoleniu z Twoim udziałem dokonaj oceny korzystając z zakładki OCENA SZKOLENIA.
</div>
<div id="uslugodawca-szukaj">
    KROK 1: SZUKAJ SZKOLENIA W KATALOGU ZLECEŃ
W pierwszym kroku po zalogowaniu, korzystając z wyszukiwarki z zaznaczoną opcją ZLECENIA masz możliwość odnaleźć zlecenie na poprowadzenie szkolenia, które zostało złożone przez osobę o określonych potrzebach szkoleniowych, którym odpowiadają proponowane przez Ciebie lub Twoją firmę szkoleniową usługi. Znajdziesz tu wszystkie aktualne zlecenia od osób pojedynczych lub grup osób o podobnych potrzebach szkoleniowych. W zależności od własnych możliwości i wybranego PAKIETU USŁUGODAWCY, będziesz mógł zaproponować usługi wszystkim wyszukanym zleceniodawcom. Zleceniodawca wybierze Twoją ofertę oceniając ją pod względem finansowym i sprawdzając oceny z przeprowadzonych przez Ciebie poprzednich szkoleń.

Aby wyszukać zlecenia szkoleń, które będziesz chciał poprowadzić należy:
1. W wyszukiwarce na stronie głównej w polach KATEGORIA, OBSZAR, TEMATYKA… wybierz z list wyboru i zaznacz kryteria szkoleń, które chcesz poprowadzić, lub wpisz słowo kluczowe w pole wyszukiwarki: SŁOWA W TREŚCI OGŁOSZENIA i naciśnij klawisz wyszukiwarki SZUKAJ. Jest to wyszukiwanie mniej szczegółowe, ale szybsze.
Uwaga: Jeśli po wyszukaniu szczegółowym nie osiągnąłeś satysfakcjonującego Cię wyniku spróbuj jeszcze raz podając mniej kryteriów lub korzystając z pola SŁOWA W TREŚCI OGŁOSZENIA. 
2. Po wyświetleniu się wyniku wyszukiwania sprawdź go pod kątem swoich potrzeb i możliwości. Wybierz te, które będziesz chciał poprowadzić ze względu na tematykę szkolenia jak też stronę finansową. W zależności od wybranego wcześniej PAKIETU USŁUGODAWCY, możesz wybrać kilka zleceń szkoleń, które będziesz chciał poprowadzić.
</div>
<div id="uslugodawca-znalazles">
    KROK 2: ZNALAZŁEŚ, ZŁÓŻ OFERTĘ.
3. Po dokonaniu pozytywnego wyboru złóż ofertę wykonania danego zlecenia za pomocą klawisza ZŁÓŻ OFERTĘ.
4. Jeśli wybierzesz klawisz OBSERWUJ, obserwacja zlecenia pozwoli Ci podjąć decyzję w późniejszym terminie. O ostatecznym możliwym terminie ZŁOŻENIA OFERTY na wykonanie szkolenia zostaniesz powiadomiony e-mailem. Otrzymanie takiego powiadomienia będzie oznaczało, że ktoś złożył swoja ofertę na wykonanie tego zlecenia i teraz masz możliwość złożenia kontroferty w ciągu 48 godzin.
5. Po złożeniu oferty na wykonanie zlecenia otrzymasz wiadomość na podany adres e-mail potwierdzającą ten fakt. Zostaniesz poproszony o oczekiwanie na kolejny e-mail potwierdzający realizację przez Ciebie tego zlecenia, informujący o wszelkich formalnościach związanych z rozliczeniami finansowymi i procedurą kontaktu ze zleceniodawcą. Po zrealizowanym szkoleniu, które poprowadzisz koniecznie zadbaj, aby jego uczestnicy dokonali oceny w zakładce: OCENA SZKOLENIA.
</div>
<div id="uslugodawca-nie-znalazles">
    KROK3: DODAJ SZKOLENIE do KATALOGU USŁUG. Promuj szkolenie.
Drugą ścieżką zdobywania klientów na szkolenia jest przygotowanie i promocja gotowej własnej oferty szkoleń w KATALOGU USŁUG. W tym miejscu można dodać własne ogłoszenia. Zostanie jednocześnie utworzone KONTO USŁUGODAWCY, z poziomu którego będziesz mógł dodawać kolejne ogłoszenia własnych propozycji szkoleniowych do KATALOGU USŁUG, zgodnie z wybranym PAKIETEM USŁUGODAWCY.
Aby dodać własne ogłoszenia w katalogu usług należy:

1. Zarejestruj się jako usługodawca korzystając z opcji ZAŁÓŻ KONTO lub DODAJ USŁUGĘ. Wypełniając formularz rejestracji zaznacz opcję OFERUJĘ SZKOLENIA oraz wybierz pola OSOBA FIZYCZNA lub FIRMA.  Po zarejestrowaniu otrzymasz e-mail potwierdzający ten fakt z prośbą o aktywację konta.
2. Po zalogowaniu kliknij klawisz DODAJ USŁUGĘ.
3. Wypełnij pola formularza zgodne z Twoimi preferencjami dotyczącymi szkolenia które chcesz zareklamować i naciśnij szary klawisz DODAJ USŁUGĘ.
4. Twoje ogłoszenie zostało umieszczone w KATALOGU USŁUG. Teraz wszyscy zainteresowani będą mogli kontaktować się z Tobą w celu skorzystania z tej propozycji, a Ty będziesz miał możliwość edycji tego ogłoszenia w zakładce MÓJ PROFIL oraz dodawania kolejnych zgodnie z wybranym PAKIETEM USŁUGODAWCY który wybrałeś.
</div>
<div id="uslugodawca-promuj">
    Promocja szkolenia. 
5. Korzystając z opcji PAKIET USŁUGODAWCY w zakładce MÓJ PROFIL możesz wybrać najbardziej dogodną dla siebie formę promocji Twoich zleceń.
</div>