            <div id="contact1">
                <form id="logForm" action="remind.php" method="post" name="logForm">
                <input type="hidden" name="remind_pass_change" value="1" />
                    <fieldset>
                        <legend>Zmień hasło</legend>
                        <div>
                            <label for="email">Nowe hasło:</label>
                            <input type="password" name="pass1" id="email" size="30" class="field required" />
                        </div>
                        <div>
                            <label for="name">Powtórz nowe hasło:</label>
                            <input type="password" name="pass2" id="name" size="30" class="field required" />
                        </div>
                    </fieldset>
                    <div class="submit"><button type="submit" id="log_submit">zmień hasło</button></div>
                </form>
            </div><!-- contact1 -->