<form action="https://ssl.dotpay.eu" method="POST">
<input name="id" type="hidden" value="57265" />
<input name="opis" type="hidden" value="{%opis%}" />
<input name="control" type="hidden" value="{%control%}" />
<input name="kwota" type="hidden" value="{%kwota%}" />
<input name="imie" type="hidden" value="{%imie%}" />
<input name="nazwisko" type="hidden" value="{%nazwisko%}" />
<input name="email" type="hidden" value="{%email%}" />
<input name="city" type="hidden" value="{%city%}" />
<input name="street" type="hidden" value="{%street%}" />
<input name="postcode" type="hidden" value="{%postcode%}" />
<input name="phone" type="hidden" value="{%phone%}" />
<input name="country" type="hidden" value="POL" />
<input name="typ" type="hidden" value="3" />
<input name="URL" type="hidden" value="http://szkolea.pl/beta2012/profile.php?w=faktury&a=1&m=thankyou" />
<input name="pay" type="submit" value="zapłać" />
</form>
