<div id="main">
    <div class="lineAccount"></div><!-- lineAccount -->
    <div class="myAccount">
        <div class="menuAccount">
            <div class="accountButtonW"><a href="?w=servs">USŁUGI</a></div><!-- accountButtonB -->
            <div class="accountButtonB"><a href="?w=comms">ZLECENIA</a></div><!-- accountButtonW -->
            <div class="accountButtonW"><a href="?w=dane">MOJE DANE</a></div><!-- accountButtonW -->
            <div class="accountButtonW"><a href="?w=faktury">FAKTURY</a></div><!-- accountButtonW -->
            <div class="accountButtonW"><a href="?w=pakiety">PAKIETY</a></div><!-- accountButtonW -->
            <div class="buttonInfo">Witaj, {%name%} | <a href="logout.php">wyloguj</a></div><!-- buttonInfo -->
        </div><!-- menuAccount -->
        <div class="accountStrip"></div><!-- accountStrip -->
    </div><!-- myAccount -->
    <div class="menuAccountD">
        <div class="accountButtonDb"><a href="?w=comms&a=0">obserwowane kategorie</a></div><!-- accountButtonD -->
        <div class="accountButtonDb"><a href="?w=comms&a=1">obserwowane zlecenia</a></div><!-- accountButtonD -->
        <div class="accountButtonD"><a href="?w=comms&a=2">oferty</a></div><!-- accountButtonD -->
    </div><!-- menuAccountD -->
    <div class="accountMain">
        <div class="accountTitle">
        Zapisani do zlecenia.
        </div><!-- accountTitle -->
        <br clear="all" />
        <div class="accountLine"></div><!-- accountLine -->
        <input type="hidden" name="action" value="zl_kasuj" />
        <ul>
        {%here%}
        </ul>
    </div><!-- accountMain -->
</div><!-- main -->
