            <div id="contact1">
                <form id="logForm" action="remind.php" method="post" class="easy">
                <input type="hidden" name="remind" value="1" />
                    <fieldset>
                        <legend>Przypomnij hasło</legend>
                        <div>
                            <label for="email">E-mail</label>
                            <input type="text" name="email" id="email" size="30" class="field" />
                        </div>
                    </fieldset>
                    <div class="submit"><button type="submit" id="log_submit">Przypomnij hasło</button></div>
                </form>
            </div><!-- contact1 -->