        <div id="contactform">
            <div id="contact1x">
                <div class="tables">
                    <h3>[ID usługi: {%id_serv%}]</h3>
                    <table cellpadding="0" cellspacing="0">
                        <thead>
                        <tr>
                        <th>Nazwa szkolenia:</th>
                        <th>{%name%}</th>
                        </tr>
                        </thead>
                    </table>
                    <table cellpadding="0" cellspacing="0">
                        <thead>
                        <tr>
                        <th>Moduły</th>
                        <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                        <td>{%moduly_names%}</td>
                        <td></td>
                        </tr>
                        </tbody>
                    </table>
                    <table cellpadding="0" cellspacing="0">
                        <thead>
                        <tr>
                        <th>Program</th>
                        <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                        <td>{%program%}</td>
                        <td></td>
                        </tr>
                        </tbody>
                    </table>
                    <table cellpadding="0" cellspacing="0">
                        <thead>
                        <tr>
                        <th>Oferta ważna do</th>
                        <th>{%date_end%}</th>
                        </tr>
                        </thead>
                    </table>
                    <br/>
                    <table cellpadding="0" cellspacing="0">
                        <thead>
                        <tr>
                        <th>Szczegóły</th>
                        <th>Opis</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                        <td>Kategoria</td>
                        <td>{%kategoria_name%}</td>
                        </tr>
                        <tr>
                        <td>Obszar</td>
                        <td>{%obszar_name%}</td>
                        </tr>
                        <tr>
                        <td>Tematyka</td>
                        <td>{%tematyka_name%}</td>
                        </tr>
                        <tr>
                        <td>Termin</td>
                        <td>{%terminy%}</td>
                        </tr>
                        <tr>
                        <td>Miejsce</td>
                        <td>{%place%}</td>
                        </tr>
                        <tr>
                        <td>Cena za osobę</td>
                        <td>{%cena%}</td>
                        </tr>
                        </tbody>
                    </table>
                    <table cellpadding="0" cellspacing="0">
                        <thead>
                        <tr>
                        <th>Dodatkowe informacje</th>
                        <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                        <td>{%info%}</td>
                        <td></td>
                        </tr>
                        </tbody>
                    </table>
                    <table cellpadding="0" cellspacing="0">
                        <thead class="toggle">
                        <tr>
                        <th>Pokaż kontakt</th>
                        <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                        <td>{%kontakt%}</td>
                        <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div><!-- contact1 -->
        </div>