#sugestia
{
    width: 272px;
    height: 383px;
    top: 20%;
    right: -225px;
    position: fixed;
    padding: 5px;
    background: url("sugestia.png") no-repeat;
}

#sugestia form
{
    margin-top: 80px;
    margin-left: 70px;
}

#sugestia form textarea
{
    width: 200px;
    height: 100px;
}