<div class="tables">
                    <table cellpadding="0" cellspacing="0">
                    <thead>
                            <tr>
                                    <th>Kategoria</th>
                                    <th>Obszar</th>
                                    <th>Tematyka</th>
                            </tr>
                    </thead>
                    <tbody>
                            <tr>
                                    <td class="btable">Informatyka</td>
                                    <td></td>
                                    <td></td>
                                    <td><button>Kasuj</button></td>

                            </tr>
                            <tr>
                                    <td>Biznes</td>
                                    <td class="btable">Doskonalenie organizacji</td>
                                    <td></td>
                                    <td><button>Kasuj</button></td>
                            </tr>
                            <tr>
                                    <td>Biznes</td>
                                    <td class="btable">Public Relations</td>
                                    <td></td>
                                    <td><button>Kasuj</button></td>
                            </tr>
                            <tr>
                                    <td>Umiejętności osobiste</td>
                                    <td>Kreatywność</td>
                                    <td class="btable">Kreatywność w biznesie</td>
                                    <td><button>Kasuj</button></td>
                            </tr>
                    </tbody>

            </table>
</div><!-- viewCategory -->