<div class="main_results_acc">
            <div id="szablon">
            <div class="sablon_t1"></div>
            <div class="sablon_t2">miejsce</div>
            <div class="sablon_t3">zapisanych<br/>osób</div>
            <div class="sablon_t4">cena brutto<br/>za osobę</div>
            <div class="sablon_t5">pozostało<br/>do końca</div>
            <div class="sablon_t6">program</div>
        </div>
        {<table width="622" class="tabela" rules="none" >
            <tr bgcolor="{%bgcolor1%}">
                <th scope="col" width="49" height="37" rowspan="2" >
                    <img src="{%ikona%}" alt="{%kategoria%}" />
                </th>
                <th scope="col" colspan="5" width="484" height="20">
                    <span class="modul"><a href="comm.php?id={%id%}">{%tematyka%}</a></span>
                </th>
                 <th scope="col" rowspan="2" height="37" width="40">
                     <img src="img/icons/special-offer.png" alt="moduly" style="cursor: pointer" onclick="showProgram('{%id%}');"/>
                 </th>
                 <th scope="col" rowspan="3" height="30" width="60"><button>Kasuj</button></th>
            </tr>
            <tr bgcolor="{%bgcolor1%}">
                <td width="50" height="30">
                    <span class="padbot"><a href="comm.php?id={%id%}">&nbsp;id: {%id%}</a></span>
                </td>
                <td width="143" height="30">
                    <span class="padbot"></span>&nbsp;<span class="blue">{%gdzie%}</span>
                </td>
                <td width="67" height="30">
                    <span class="padbot"></span>&nbsp;<span class="blue">{%zapisanych%}</span>
                </td>
                <td width="117" height="30">
                    <span class="padbot"></span>&nbsp;<span class="blue">{%cena_min%}-{%cena_max%}</span>
                </td>
                <td width="107" height="30">
                    <span class="padbot"></span>&nbsp;<span class="blue">{%pozostalo%}</span>
                </td>
            </tr>
            <tr bgcolor="{%bgcolor2%}" style="display: none" id="comm{%id%}">
                <td colspan="7" height="24" width="560">
                    <span class="moduly">{%moduly%}</span>
                </td>
            </tr>
        </table>%wynik%}
</div><!-- main_results -->