lista szablonów podstron profilowych:
<ul>
    <li>profile - belki menu i calosc</li>
    <li>profile_info - ten plik</li>
    <li>profile_us_obs - uslugi/obserwowane</li>
    <li>profile_zl_obs_kat - zlecenia/obserwowane kategorie</li>
    <li>profile_zl_obs_zl - zlecenia/obserwowane zlecenia</li>
    <li>profile_zl_moje - zlecenia/moje zlecenia</li>
    <li>profile_zl_udzial - zlecenia/biore udzial</li>
    <li>profile_zl_oferty - zlecenia/zlozone oferty</li>
    <li>profile_dane_edycja - moje dane/edycja</li>
    <li>profile_faktury - </li>
    <li>profile_pakiety - </li>
</ul>