<div id="main">
    <div class="lineAccount"></div><!-- lineAccount -->
    <div class="myAccount">
        <div class="menuAccount">
            <div class="accountButtonW"><a href="?w=servs">USŁUGI</a></div><!-- accountButtonB -->
            <div class="accountButtonW"><a href="?w=comms">ZLECENIA</a></div><!-- accountButtonW -->
            <div class="accountButtonB"><a href="?w=dane">MOJE DANE</a></div><!-- accountButtonW -->
            <div class="accountButtonW"><a href="?w=fip">FAKTURY I PAKIETY</a></div><!-- accountButtonW -->
            <div class="buttonInfo"><a href="logout.php">wyloguj</a></div><!-- buttonInfo -->
            <div class="buttonInfo">Witaj, {%name%}</div><!-- buttonInfo -->
        </div><!-- menuAccount -->
        <div class="accountStrip"></div><!-- accountStrip -->
    </div><!-- myAccount -->
    <div class="menuAccountD">
        <div class="accountButtonD"><a href="?w={%what%}&a=0">obserwowane kategorie</a></div><!-- accountButtonD -->
        <div class="accountButtonDb"><a href="?w={%what%}&a=1">obserwowane zlecenia</a></div><!-- accountButtonD -->
        <div class="accountButtonD"><a href="?w={%what%}&a=2">dodane</a></div><!-- accountButtonDb -->
        <div class="accountButtonD"><a href="?w={%what%}&a=3">moje zlecenia</a></div>
        <div class="accountButtonD"><a href="?w={%what%}&a=4">biorę udział</a></div>
        <div class="accountButtonD"><a href="?w={%what%}&a=5">złożone oferty</a></div>
        <div class="accountButtonD"><a href="?w={%what%}&a=6">edycja</a></div>
        <div class="accountButtonD"><a href="?w={%what%}&a=7">zobacz faktury</a></div>
        <div class="accountButtonD"><a href="?w={%what%}&a=8">wybierz pakiet</a></div>
    </div><!-- menuAccountD -->
    <div class="accountMain">
        <div class="accountTitle">
        moje konto
        </div><!-- accountTitle -->
        <br clear="all" />
        <div class="accountLine"></div><!-- accountLine -->
        {%here%}
    </div><!-- accountMain -->
</div><!-- main -->