<div class="main_results_acc">
    <div id="szablon">
        <div class="sablon_t1">moduł</div>
        <div class="sablon_t2">miejsce</div>
        <div class="sablon_t3">zapisanych</div>
        <div class="sablon_t4">cena (min-max)</div>
        <div class="sablon_t5">do końca</div>
    </div>
    <table width="622" class="tabela" rules="none">
        <tr bgcolor="#f9f9f9">
        <th scope="col" width="49" height="37" rowspan="2" ><img src="img/icons/free-for-job.png" alt="biznes" /></th>
        <th scope="col" colspan="5" width="484" height="20"><span class="modul"><a href="comm.php?id=4">motywowanie</a></span></th>
        <th scope="col" rowspan="2" height="37" width="40"><img src="img/icons/special-offer.png" alt="moduly" style="cursor: pointer" onclick="showProgram(4);"/></th>
        <th scope="col" rowspan="3" height="30" width="60"><button>Kasuj</button></th>
        </tr>
        <tr bgcolor="#f9f9f9">
        <td width="50" height="30"><span class="padbot"><a href="comm.php?id=4">4</a></span></td>
        <td width="143" height="30"><span class="padbot">miejsce:</span>&nbsp;<span class="blue">Wrocław</span></td>
        <td width="67" height="30"><span class="padbot">osób:</span>&nbsp;<span class="blue">2</span></td>
        <td width="117" height="30"><span class="padbot">cena:</span>&nbsp;<span class="blue">1-200</span></td>
        <td width="107" height="30"><span class="padbot">pozostało:</span>&nbsp;<span class="blue">2 dni</span></td>
        </tr>
        <tr bgcolor="#ececec" style="display: none" id="comm4">
        <td colspan="7" height="24" width="560"><span class="moduly">istota premii</span></td>
        </tr>
    </table>
    <table width="622" class="tabela" rules="none">
        <tr bgcolor="#eeeeee">
        <th scope="col" width="49" height="37" rowspan="2" ><img src="img/icons/free-for-job.png" alt="biznes" /></th>
        <th scope="col" colspan="5" width="484" height="20"><span class="modul"><a href="comm.php?id=5">motywowanie</a></span></th>
        <th scope="col" rowspan="2" height="37" width="40"><img src="img/icons/special-offer.png" alt="moduly" style="cursor: pointer" onclick="showProgram(5);"/></th>
        <th scope="col" rowspan="3" height="30" width="60"><button>Kasuj</button></th>
        </tr>
        <tr bgcolor="#eeeeee">
        <td width="50" height="30"><span class="padbot"><a href="comm.php?id=5">5</a></span></td>
        <td width="143" height="30"><span class="padbot">miejsce:</span>&nbsp;<span class="blue">Wrocław</span></td>
        <td width="67" height="30"><span class="padbot">osób:</span>&nbsp;<span class="blue">3</span></td>
        <td width="117" height="30"><span class="padbot">cena:</span>&nbsp;<span class="blue">300-350</span></td>
        <td width="107" height="30"><span class="padbot">pozostało:</span>&nbsp;<span class="blue">2 dni</span></td>
        </tr>
        <tr bgcolor="#f9f9f9" style="display: none" id="comm5">
        <td colspan="7" height="24" width="560"><span class="moduly">wartościowanie pracy, wartościowanie kompetencji</span></td>
        </tr>
    </table>
    <table width="622" class="tabela" rules="none">
        <tr bgcolor="#f9f9f9">
        <th scope="col" width="49" height="37" rowspan="2" ><img src="img/icons/free-for-job.png" alt="biznes" /></th>
        <th scope="col" colspan="5" width="484" height="20"><span class="modul"><a href="comm.php?id=6">motywowanie</a></span></th>
        <th scope="col" rowspan="2" height="37" width="40"><img src="img/icons/special-offer.png" alt="moduly" style="cursor: pointer" onclick="showProgram(6);"/></th>
        <th scope="col" rowspan="3" height="30" width="60"><button>Kasuj</button></th>
        </tr>
        <tr bgcolor="#f9f9f9">
        <td width="50" height="30"><span class="padbot"><a href="comm.php?id=6">6</a></span></td>
        <td width="143" height="30"><span class="padbot">miejsce:</span>&nbsp;<span class="blue">Wrocław</span></td>
        <td width="67" height="30"><span class="padbot">osób:</span>&nbsp;<span class="blue">3</span></td>
        <td width="117" height="30"><span class="padbot">cena:</span>&nbsp;<span class="blue">300-350</span></td>
        <td width="107" height="30"><span class="padbot">pozostało:</span>&nbsp;<span class="blue">2 dni</span></td>
        </tr>
        <tr bgcolor="#ececec" style="display: none" id="comm6">
        <td colspan="7" height="24" width="560"><span class="moduly">wartościowanie pracy, wartościowanie kompetencji</span></td>
        </tr>
    </table>
</div><!-- main_results -->