html, body {



    margin-right: 0px;



    margin-left: 0px;



    margin-bottom: 0px;



    margin-top: 0px;



    padding-right: 0px;



    padding-left: 0px;



    padding-bottom: 0px;



    padding-top: 0px;



    font-family: 'Lucida Sans Unicode',Tahoma,Verdana,Arial;



    color: #000000;



    font-style: normal;



    text-decoration: none;



    font-size: 12px;



/* f    background-color: #ffffff; */



}



a, a:visited, a:active {



    color: #3f5e9d;



    text-decoration: none;



}



a:hover {



    color: #000000;



    text-decoration: underline;



}



/* FORMULARZ */



.input_mail, .input_pass {



    border: 1px solid #8e8b8b;



    background: #edeaea;



    color: #666666;



    font-size: 12px;



}



.input_submit {



    border: 1px solid #8e8b8b;



    background: #edeaea;



    color: #666666;



    font-size: 12px;



}



#search label {



    display: block;



    width: 120px;



    float: left;



    margin: 2px 4px 6px 4px;



    text-align: right;



}



br { clear: left; }



/* FORMULARZ KONIEC */



/* ADM */



.adm label {



    display: block;



    width: 120px;



    float: left;



    margin: 2px 4px 2px 4px;



    text-align: right;



}



/* ADM KONIEC */



/* COMMISIONS */



#contactform select {



    border: 1px solid #8e8b8b;



    background: #edeaea;



    color: #666666;



    font-size: 12px;



    width: 150px;



}



#contactform .select_dur1 {



    border: 1px solid #8e8b8b;



    background: #edeaea;



    color: #666666;



    font-size: 12px;



    width: 100px;



}



.input_dur2 {



    border: 1px solid #8e8b8b;



    background: #edeaea;



    color: #666666;



    font-size: 12px;



    width: 20px;



}



.input_place {



    border: 1px solid #8e8b8b;



    background: #edeaea;



    color: #666666;



    font-size: 12px;



    width: 120px;



}



textarea {



    border: 1px solid #8e8b8b;



    background: #edeaea;



    color: #666666;



    font-size: 11px;



}



.gora {







    background-color: #cccccc;



}



/* KONIEC COMMISIONS */



/* COMM SEARCH FORM */



#sfdiv_main {



    margin: 0;



    padding: 0;



    width: 1200px;



    overflow: auto;



}



#sfdiv_small {



    margin: 0;



    padding: 0;



    width: 300px;



    float: left;



}



/* KONIEC COMM SEARCH FORM */



#main {



    margin: 0 0 15px 0;



    padding: 0;



   /* f overflow: auto; */



}



#left {



    float: left;



    padding: 0 170px 0 30px;



}



#right {



    float: left;



}



pre {



    background-color: #c6e6f5;



    border-right-style: solid;



    border-left-style: solid;



    border-bottom-style: solid;



    border-top-style: solid;



    border-right-width: 1px;



    border-left-width: 1px;



    border-bottom-width: 1px;



    border-top-width: 1px;



    border-right-color: #999999;



    border-left-color: #999999;



    border-bottom-color: #999999;



    border-top-color: #999999;



    margin-left: 10px;



    margin-right: 100px;



    padding-right: 4px;



    padding-left: 4px;



    padding-bottom: 4px;



    padding-top: 4px;



}



.pre_title {



    background-color: #0ca1e7;



    border-right-style: solid;



    border-left-style: solid;



    border-bottom-style: solid;



    border-top-style: solid;



    border-right-width: 1px;



    border-left-width: 1px;



    border-bottom-width: 1px;



    border-top-width: 1px;



    border-right-color: #999999;



    border-left-color: #999999;



    border-bottom-color: #999999;



    border-top-color: #999999;



    margin-left: 10px;



    margin-right: 100px;



    padding-right: 4px;



    padding-left: 4px;



    padding-bottom: 4px;



    padding-top: 4px;



}



em {



    display: block;



    border: solid 1px #cccccc;



    background-color: #ff3333;



    font-family: Verdana;



    font-size: 11px;



    margin: 0 100px 10px 10px;



    padding-right: 4px;



    padding-left: 4px;



    padding-bottom: 4px;



    padding-top: 4px;



    font-style: normal;



}







.padd15 {



	padding-left:15px;



}



.foot1 {
	clear: left; 
	width:950px; 
	margin:0 auto; 
	border-top:#b8b8b8 solid 1px; 
	text-align:center;
}
	